%footer
  .container
    %nav
      %h3 Another nav
      %ul
        %li
          %a{href: '#'} Home
        %li
          %a{href: '#'} Destinations
        %li
          %a{href: '#'} Shop
        %li
          %a{href: '#'} Hotels
        %li
          %a{href: '#'} Flights
        %li
          %a{href: '#'} Contact

    %nav
      %h3 Another nav
      %ul
        %li
          %a{href: '#'} Home
        %li
          %a{href: '#'} Destinations
        %li
          %a{href: '#'} Shop
        %li
          %a{href: '#'} Hotels
        %li
          %a{href: '#'} Flights
        %li
          %a{href: '#'} Contact

    %nav
      %h3 Another nav
      %ul
        %li
          %a{href: '#'} Home
        %li
          %a{href: '#'} Destinations
        %li
          %a{href: '#'} Shop
        %li
          %a{href: '#'} Hotels
        %li
          %a{href: '#'} Flights
        %li
          %a{href: '#'} Contact

    %nav
      %h3 Another nav
      %ul
        %li
          %a{href: '#'} Home
        %li
          %a{href: '#'} Destinations
        %li
          %a{href: '#'} Shop
        %li
          %a{href: '#'} Hotels
        %li
          %a{href: '#'} Flights
        %li
          %a{href: '#'} Contact