- footer_navigation = ['Section1', 'Section2', 'Section3', 'Section4', 'Section5', 'Section6']
%footer
  .container
    %nav
      %h3 Another nav
      %ul
        - footer_navigation.each do |item|
          %li
            %a{href: '#'}
              = item

    %nav
      %h3 Another nav
      %ul
        - footer_navigation.each do |item|
          %li
            %a{href: '#'}
              = item
    %nav
      %h3 Another nav
      %ul
        - footer_navigation.each do |item|
          %li
            %a{href: '#'}
              = item
    %nav
      %h3 Another nav
      %ul
        - footer_navigation.each do |item|
          %li
            %a{href: '#'}
              = item