.container
  %h1
    Most lip-smacking street food
  
  .read-more-container
    %h2 Chouriços, Goa, India
    %p
      Slow-dried in long, lavish strings under the hot Indian sun, Goa’s culinary nod to its Portuguese heritage appears in its tastiest incarnation in the lunchtime chouriço. You’ll find plenty of carts vending their meaty wares throughout the state, many with appealingly ecclesiastical names such as ‘Virgin Mary Meats’ or ‘Ave Maria Sausages’. Spiced with chilli, vinegar, garlic and ginger, chouriços are eaten unaccompanied or with soft Goan pao bread rolls. For the ultimate lunch rush, they’re washed down with a glass or two of fiery feni, a nap-inducing local liquor distilled from cashew or coconut.

    %h2 Kushari, Cairo, Egypt
    %p
      Boarding the night train from Cairo? Don’t climb into your cabin without a container or two of kushari, a Cairene comfort food that will guarantee a good night’s sleep in even the most rickety of second-class berths. A soothing combination of vermicelli pasta, rice, lentils, chickpeas and sweet caramelised onions laced with a garlic-laden tomato sauce, a good kushari has the same effect on an Egyptian as a nice cup of tea does on anyone from Britain. Locate local street vendors by their huge metal cauldrons.

    %h2 Bánh Mi, Ho Chi Minh City, Vietnam
    %p
      As you cruise the elegant French colonial vestiges of Ho Chi Minh City (Saigon), stop off at a streetside stall for the Vietnamese take on its former colonisers’ simple salad sandwich – heavenly bánh mi is a piece of history wrapped in a baguette. Tender chunks of grilled pork swaddled inside fluffy French bread combine with Vietnamese mayonnaise, coarsely chopped pickled daikon radish and carrot, together with a touch of eye-watering chilli sauce, to create the best East-meets-West moment you’ll ever taste. Close your eyes, take a bite and be transported back to the grand imperial days of old Saigon.

    %h2 Dosas, New York City, USA
    %p
      Fast-paced Manhattan is not only about liquid lunches on hefty expense accounts. Those seeking respite from the speed of the city should head to leafy Washington Square Park, where cheerful Sri Lankan Mr Thiru Kumar serves up a delicious dose of south Indian dosas. A crisp rice pancake filled with fluffy, delicately spiced potato, your freshly made dosa is dished up with a spicy sambar lentil soup and a soothing coconut chutney. And if you really take to Mr Kumar’s thoroughly vegan fare, you can purchase his souvenir T-shirt to prove it.

    %h2 Sabich, Tel Aviv, Israel
    %p
      Mention Israel and Iraq in the same sentence, and images of warring generals and ominously trained missiles usually spring to mind. But even the most vehement of enemies unite in their love for Iraqi sabich, an on-the-hoof vegetarian snack gobbled down daily by Tel Avivans. A humble pita bread is crammed to bursting with a mouth-watering combination of grilled aubergine, boiled egg, salads, hummus, tahini, boiled potato, salted cucumbers and spicy amba, a mango-based sauce. Head to central Frishman Street for the very best sabich in town, and taste the recipe for Middle East peace.

    %h2 Skewers, Stone Town, Zanzibar
    %p
      Zanzibar’s Stone Town is as atmospheric as its name is evocative, and each night after sunset it also becomes the tastiest place on the entire exotic island. Make for the Forodhani Gardens’ night market, where dozens of street vendors set up shop to griddle, boil and fry the evening away. Wander amid thick, fragrant barbecue smoke and flickering gas lamps, sip on an ice-cold sugar-cane juice and take your pick from the colourful catch of the day. Almost anything that swims can be found here skewered, grilled to perfection and sold for – and often with – peanuts.

    %h2 Patat Oorlog, Amsterdam, The Netherlands
    %p
      Many’s the munchie-minded Amsterdammer who, when faced with a hunger amid the canals and coffee shops, seeks out the city’s tastiest treat, patat oorlog. The approximate translation, ‘war fries’, might give a clue as to the flavours at work – or play – in this filling snack: crisp fries shovelled into a paper cone and smothered in a technicolour combination of mayonnaise, ketchup and peanut satay sauce, then topped off with a dollop of fried onions. Sophisticated it’s not, but finger-licking good, absolutely – whether you’ve worked up your hunger on Rembrandts or Red Leb.

    %h2 Poutine, Canada
    %p
      What better way to fill up for a trans-Canadian epic than by stopping off at a roadside vendor for a quick plate of poutine? Originating in Quebec in the 1950s, this messy, mouth-watering mixture of thick-cut fries, fresh curd cheese and gravy is considered an essential comfort food across the country, and has pretty much attained the status of a national icon. When cruising along the scenic Canadian highway, pull off wherever you see a poutine truck parked, and get your cheap cheesy carbohydrate fix in preparation for the long, winding road that lies ahead.

    %h2 Arepas, Bogotá, Colombia
    %p
      Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat for pure morning pleasure. Golden grilled cornmeal cakes stuffed with eggs or cheese, and oozing butter, these little creations provide the perfect energy boost for a day on the Colombian city streets. Grab a portion from a vendor and wash it down with a steaming glass of hot chocolate. It might not do wonders for your waistline but it’ll certainly see you through a rainy Bogotá morning.
  %a.button{href: '#'} Read More
  
  .images-container
    %h3 Images of food
    .first-image
      .image-container
        %img{src: 'http://media.lonelyplanet.com/lpi/19063/19063-10/469x264.jpg'}
      %p Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat
        

    .second-image
      .image-container
        %img{src: 'http://media.lonelyplanet.com/lpi/3808/3808-1/681x454.jpg'}
      %p Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat

    .third-image
      .image-container
        %img{src: 'http://media.lonelyplanet.com/lpi/5478/5478-45/681x454.jpg'}
      %p Perhaps not the healthiest streetside breakfast, a piled-high plate of perfect arepas is hard to beat