%html
  %head
    %title Lonely Planet UI Test
    %link{rel: "stylesheet", href: 'css/style.css'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: 'js/read-more.js'}

  %body
    = haml :nav
    = yield
    = haml :footer

    