- core_navigation = ['Home','Destinations', 'Shop', 'Hotels', 'Flights', 'Contact']
- sub_navigation = ['Images', 'Video', 'Games']

%header{:role => "banner"}
  %nav{:role => "navigation"}
    %ul
      - core_navigation.each do |item|
        %li
          %a{href: '#'}
            = item
  .sub-navigation{:role => "navigation"}
    %ul
      - sub_navigation.each do |item|
        %li
          %a{href: '#'}
            = item