.navigation
  %ul
    %li
      %a{href: '#'} Home
    %li
      %a{href: '#'} Destinations
    %li
      %a{href: '#'} Shop
    %li
      %a{href: '#'} Hotels
    %li
      %a{href: '#'} Flights
    %li
      %a{href: '#'} Contact

.sub-navigation
  %ul
    %li
      %a{href: '#'} Images
    %li
      %a{href: '#'} Video
    %li
      %a{href: '#'} Games