- core_navigation = ['Home', 'Destinations', 'Shop', 'Hotels', 'Flights', 'Contact']
- sub_navigation = ['Images', 'Video', 'Games']

%img.logo{src: "images/logo.png"}
.navigation
  %ul
    - core_navigation.each do |item|
      %li
        %a{href: '#'}
          = item

.sub-navigation
  %ul
    - sub_navigation.each do |item|
      %li
        %a{href: '#'}
          = item
