body {
  font-family: Georgia;
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.read-more-container {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  line-height: 1.5;
}
.read-more-container h2 {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

ul {
  list-style: none;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -41px;
  top: 9px;
}

.button {
  background-color: #1e344c;
  padding: 10px;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
  color: #133944;
}

.images-container {
  margin-top: 50px;
  overflow: hidden;
}

.first-image, .second-image, .third-image {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.first-image img, .second-image img, .third-image img {
  max-width: 100%;
}

.third-image {
  margin-right: 0;
}

.image-container {
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
}

.navigation {
  font-family: arial;
  text-align: center;
  background-color: #124385;
}
.navigation ul {
  display: inline-block;
  height: 60px;
  margin: 0;
}
.navigation ul li {
  display: inline-block;
  text-align: left;
  float: left;
  height: 60px;
  margin: 0;
  background-color: #124385;
  width: 150px;
}
.navigation ul li:nth-child(3) {
  margin-right: 150px;
}
.navigation ul li a {
  color: white;
  text-decoration: none;
  line-height: 60px;
  padding: 0 15px;
}
.navigation ul li a:hover {
  text-decoration: underline;
}

.sub-navigation {
  font-family: arial;
  margin-bottom: 60px;
  text-align: center;
  background-color: #e5ebee;
}
.sub-navigation ul {
  display: inline-block;
  height: 60px;
  margin: 0;
  padding: 0;
}
.sub-navigation ul li {
  float: left;
  height: 60px;
  width: auto;
  margin: 0;
}
.sub-navigation ul li a {
  color: #133944;
  text-decoration: none;
  line-height: 60px;
  padding: 0 15px;
}
.sub-navigation ul li a:hover {
  text-decoration: underline;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox .lightboxImage {
  position: absolute;
  left: 30%;
  top: 30%;
  border: 10px solid white;
}

footer {
  font-family: arial;
  overflow: hidden;
  font-size: 12px;
  background-color: #e5ebee;
  margin-top: 50px;
  padding-top: 20px;
}
footer nav {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0;
  display: block;
  padding: 10px 0;
}
footer a {
  text-decoration: none;
  color: #1e344c;
}
footer a:hover {
  text-decoration: underline;
}
