body {
  font-family: Georgia;
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.read-more-container {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  line-height: 1.5;
}
.read-more-container h2 {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.button {
  background-color: #1e344c;
  padding: 10px;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
  color: #133944;
}

.images-container {
  margin-top: 50px;
}

.first-image, .second-image, .third-image {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.first-image img, .second-image img, .third-image img {
  max-width: 100%;
}

.third-image {
  margin-right: 0;
}

.image-container {
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
}

.navigation {
  font-family: arial;
}
.navigation ul {
  height: 40px;
  background-color: #124385;
  margin: 0;
}
.navigation ul li {
  float: left;
  height: 40px;
  margin: 0;
  background-color: #124385;
  border-right: 1px solid #1e344c;
  border-left: 1px solid #084897;
  width: 150px;
}
.navigation ul li a {
  color: white;
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
}
.navigation ul li a:hover {
  text-decoration: underline;
}

.sub-navigation {
  font-family: arial;
  margin-bottom: 40px;
}
.sub-navigation ul {
  height: 80px;
  background-color: #e5ebee;
  margin: 0;
}
.sub-navigation ul li {
  float: left;
  height: 80px;
  width: auto;
  margin: 0;
}
.sub-navigation ul li a {
  color: #133944;
  text-decoration: none;
  line-height: 80px;
  padding: 0 15px;
}
.sub-navigation ul li a:hover {
  text-decoration: underline;
}
