nav
  font-family: arial
  ul
    list-style: none
    width: 100%
    margin: 0
    padding: 0
  a
    display: block
    width: 100%

// Header Navigation
nav.main
  text-align: center
  background-color: $brand
  ul
    height:  60px
    line-height: 60px
    li
      display: inline-block
      vertical-align: middle
      text-align: center
      height: 60px
      margin: 0
      width: 16%
      &:first-child
        background: transparent url('../images/logo.png') 50% 10px no-repeat
        @extend %ir
      a
        height: 60px
        color: white
        text-decoration: none

.subnavigation
  margin-bottom: 3em
  text-align: center
  background-color: $bg_light
  ul
    height:  60px
    li
      display: inline-block
      height: 60px
      width: auto
      margin: 0
      a
        color: $text
        text-decoration: none
        line-height: 60px
        padding: 0 1em

// Footer Navigation
footer
  nav
    display: inline-block
    width: 24.5%
    padding-left: 1em
    li
      padding: 0.6em 0
  h3
    text-transform: uppercase
    margin-bottom: 1.2em
  a
    text-decoration: none