// Navigation

.navigation
  font-family: arial
  text-align: center
  background-color: #124385
  ul
    display: inline-block
    height:  60px
    margin: 0
    li
      display: inline-block
      text-align: left
      float: left
      height: 60px
      margin: 0
      background-color: #124385
      width: 150px
      &:nth-child(3)
        margin-right: 150px
      a
        color: white
        text-decoration: none
        line-height: 60px
        padding: 0 15px
        &:hover
          text-decoration: underline

.sub-navigation
  font-family: arial
  margin-bottom: 60px
  text-align: center
  background-color: #E5EBEE
  ul
    display: inline-block
    height:  60px
    margin: 0
    padding: 0
    li
      float: left
      height: 60px
      width: auto
      margin: 0
      a
        color: #133944
        text-decoration: none
        line-height: 60px
        padding: 0 15px
        &:hover
          text-decoration: underline